@use "../abstracts" as *;
@use "../util" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

body {
    overflow-x: hidden;
    background: radial-gradient(600px circle at 0px 0px, rgba(29, 78, 216, 0.15), transparent 80%);
    background-color: var(--bgColor);
}

html {
    scroll-behavior: smooth;
}

ul li {
    list-style: none;
}

section {
    margin-bottom: 2rem;

    @include breakpoint(large) {
        margin-bottom: 5rem;
    }
}

.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
